# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
venv/
ENV/
env/
build/
dist/
*.egg-info/
*.egg

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Matplotlib cache
.matplotlib/

# Streamlit cache
.streamlit/

# Temporary files
*.tmp